WIFI_SSID="esp32 连接的wifi/hotspot"
WIFI_PASS=""
SERVER_HOST="example.com"
UPLOAD_PATH="/api/casio-ai/upload-photo"
SOLVE_PATH="/api/casio-ai/solve"
QUESTION_RESULT_PATH="/api/casio-ai/question"
QUESTION_BLOCK_PATH="/api/casio-ai/question-block"
DEVICE_ID="你的server 认识and允许connect 的你的esp32的设备id"
DEVICE_API_KEY="device api key"
FIXED_PHOTO_URL="拿来测试ai solves test 用的固定照片地址, 自己上传去一个server db 然后copy 下来放这里"
